includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
        - tests
    excludePaths:
        - vendor
        - docker
    parallel:
        maximumNumberOfProcesses: 4
        processTimeout: 300.0
    checkMissingCallableSignature: true
    checkUninitializedProperties: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkBenevolentUnionTypes: true
    reportMaybesInMethodSignatures: true
    reportStaticMethodSignatures: true
    reportMaybesInPropertyPhpDocTypes: true
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
